html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

body {
  margin: 3vw;
  background-color: #f7fafc;
  color: #00D4D6;
}
#loading{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  display: none;
}


.button {
  margin: 1rem 0.5rem;
}
#start,#stop {
  background-color: #00D4D6;
  border: none;
  border-radius: 0.125rem;
  padding: 1rem;
  width: 48%;
  font-size: 1.2rem;
  color: #fff;
}
#start:disabled,#stop:disabled{
  opacity: 0.5;
}

:focus {
  outline: none;
  box-shadow: 0 0 3px 2px #00D4D6;
}

.title {
  text-align: center;
}

.form-block {
  margin: 1rem 0.5rem;
}

.form-label {
  margin-right: 0.25rem;
  padding-left: 1rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: #718096;
}

.flex-column {
  display: flex;
  flex-direction: column;
  color:#333;
}

.form-input,
.form-textarea {
  resize: none;
  flex-grow: 1;
  margin-top: 0.25rem;
  border: none;
  border: 1px solid #edf2f7;
  border-radius: 0.125rem;
  padding: 1rem;
  font-size: 1rem;
  line-height: inherit;
  color: inherit;
}

.form-input.--title {
  letter-spacing: -0.05rem;
}

.form-textarea {
  height: 15rem;
}

.form-button {
  background-color: #00D4D6;
  border: none;
  border-radius: 0.125rem;
  padding: 1rem;
  width: 100%;
  font-size: 1.5rem;
  color: #fff;
}

.align-center {
  text-align: center;
}
